[submodule "spotiflyer-ios"]
	path = spotiflyer-ios
	url = https://github.com/Shabinder/spotiflyer-ios
[submodule "ffmpeg/ffmpeg-android-maker"]
	path = ffmpeg/ffmpeg-android-maker
	url = https://github.com/Shabinder/ffmpeg-android-maker/
