/fuzzywuzzy/app/build/
/desktop/build/classes/kotlin/jvm/main/META-INF/desktop.kotlin_module
/desktop/build/classes/kotlin/jvm/main/ComposableSingletons$MainKt$lambda-1$1$1.class
/desktop/build/classes/kotlin/jvm/main/ComposableSingletons$MainKt$lambda-1$1.class
/desktop/build/classes/kotlin/jvm/main/ComposableSingletons$MainKt$lambda-2$1.class
/desktop/build/classes/kotlin/jvm/main/ComposableSingletons$MainKt$lambda-3$1.class
/desktop/build/classes/kotlin/jvm/main/ComposableSingletons$MainKt.class
/desktop/build/classes/kotlin/jvm/main/MainKt$spotiFlyerRoot$1.class
/desktop/build/classes/kotlin/jvm/main/MainKt.class
/desktop/build/processedResources/jvm/main/drawable/ic_arrow.xml
/desktop/build/processedResources/jvm/main/drawable/ic_download_arrow.xml
/desktop/build/processedResources/jvm/main/drawable/ic_error.xml
/desktop/build/processedResources/jvm/main/drawable/ic_gaana.xml
/desktop/build/processedResources/jvm/main/drawable/ic_github.xml
/desktop/build/processedResources/jvm/main/drawable/ic_heart.xml
/desktop/build/processedResources/jvm/main/drawable/ic_history.xml
/desktop/build/processedResources/jvm/main/drawable/ic_instagram.xml
/desktop/build/processedResources/jvm/main/drawable/ic_linkedin.xml
/desktop/build/processedResources/jvm/main/drawable/ic_mug.xml
/desktop/build/processedResources/jvm/main/drawable/ic_musicplaceholder.xml
/desktop/build/processedResources/jvm/main/drawable/ic_refreshgradient.xml
/desktop/build/processedResources/jvm/main/drawable/ic_round_cancel_24.xml
/desktop/build/processedResources/jvm/main/drawable/ic_share_open.xml
/desktop/build/processedResources/jvm/main/drawable/ic_song_placeholder.xml
/desktop/build/processedResources/jvm/main/drawable/ic_spotiflyer_logo.xml
/desktop/build/processedResources/jvm/main/drawable/ic_spotify_logo.xml
/desktop/build/processedResources/jvm/main/drawable/ic_tick.xml
/desktop/build/processedResources/jvm/main/drawable/ic_youtube.xml
/desktop/build/processedResources/jvm/main/drawable/ic_youtube_music_logo.xml
/desktop/build/processedResources/jvm/main/drawable/music.xml
/desktop/build/compose/tmp/createRuntimeImage.args.txt
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/inputs/source-to-output.tab
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/inputs/source-to-output.tab.keystream
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/inputs/source-to-output.tab.keystream.len
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/inputs/source-to-output.tab.len
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/inputs/source-to-output.tab.values.at
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/inputs/source-to-output.tab_i
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/inputs/source-to-output.tab_i.len
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/package-parts.tab
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/package-parts.tab.keystream
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/package-parts.tab.keystream.len
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/package-parts.tab.len
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/package-parts.tab.values.at
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/package-parts.tab_i
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/package-parts.tab_i.len
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/proto.tab
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/proto.tab.keystream
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/proto.tab.keystream.len
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/proto.tab.len
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/proto.tab.values.at
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/proto.tab_i
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/proto.tab_i.len
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/source-to-classes.tab
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/lookups/counters.tab
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/lookups/file-to-id.tab
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/lookups/file-to-id.tab.keystream
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/lookups/file-to-id.tab.keystream.len
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/lookups/file-to-id.tab.len
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/lookups/file-to-id.tab.values.at
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/lookups/file-to-id.tab_i
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/lookups/file-to-id.tab_i.len
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/lookups/id-to-file.tab
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/lookups/id-to-file.tab.keystream
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/lookups/id-to-file.tab.keystream.len
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/lookups/id-to-file.tab.len
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/lookups/id-to-file.tab.values.at
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/lookups/lookups.tab
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/lookups/lookups.tab.keystream
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/lookups/lookups.tab.keystream.len
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/lookups/lookups.tab.len
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/lookups/lookups.tab.values.at
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/lookups/lookups.tab_i
/desktop/build/kotlin/compileKotlinJvm/caches-jvm/lookups/lookups.tab_i.len
/desktop/build/kotlin/compileKotlinJvm/build-history.bin
/desktop/build/kotlin/compileKotlinJvm/last-build.bin
/desktop/build/libs/desktop-jvm-2.2.jar
/desktop/build/libs/desktop-metadata-2.2.jar
/desktop/build/libs/desktop-metadata-2.2-sources.jar
/desktop/build/tmp/jvmJar/MANIFEST.MF
/desktop/build/tmp/metadataJar/MANIFEST.MF
/desktop/build/tmp/metadataSourcesJar/MANIFEST.MF
/desktop/build/tmp/packageUberJarForCurrentOS/MANIFEST.MF
/common/dependency-injection/build/classes/kotlin/desktop/main/
/common/dependency-injection/build/
/common/database/build/generated/sqldelight/code/Database/com/shabinder/
/.gradle/
/.idea/
/local.properties
/android/build/
/buildSrc/build/pluginUnderTestMetadata/
/common/compose-ui/build/classes/kotlin/desktop/main/
/common/data-models/build/classes/kotlin/desktop/main/
/common/data-models/build/
/common/database/build/classes/kotlin/desktop/main/
/common/database/build/
/build/
/common/compose-ui/build/
/buildSrc/.gradle/
/buildSrc/build/
/buildSrc/buildSrc/.gradle/
/buildSrc/buildSrc/build/
/desktop/build/
/common/compose/build/
/common/list/build/
/common/main/build/
/common/root/build/
/android/release/
/android/google-services.json
/web-app/build/
