.idea/
local.properties
/android/release/
/android/google-services.json
build/
.gradle/
terraform.tfvars
.terraform/
/spotiflyer-ios/Pods/
/fastlane/report.xml
/fastlane/README.md
Gemfile
Gemfile.lock
/maintenance-tasks/build/
/android/.cxx/Debug/5k2s1t1p/x86/
/ffmpeg/ffmpeg-kit-android-lib/.cxx/Debug/
